.page-form {
  .card {
    border-radius: 16px;
    border: 1px solid #5d6953;
    background: linear-gradient(90deg, rgba(249, 248, 242, 0.5) 0%, rgba(135, 143, 120, 0.31) 28%, rgba(93, 105, 83, 0.31) 50%, rgba(135, 143, 120, 0.29) 70%, rgba(249, 248, 242, 0.5) 100%);
  }

  label {
    color: #5d6953;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
